.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
  /* background-color: #f8f8f8; */
}

.card {
  width: 340px;
  height: 340px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background-color: #fff;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #6a11cb, #e325fc);
}

.card-content {
  padding: 20px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transition: color 0.4s ease, transform 0.4s ease;
}

.card-content h2 {
  font-size: 1.5rem;
  color: #333;
  transition: color 0.4s ease, transform 0.4s ease;
}

.card:hover .card-content h2 {
  color: #fff;
  transform: scale(1.1);
}

.card-gif {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.card:hover .card-gif {
  transform: scale(1.1);
  opacity: 0.9;
}

.card:hover .card-content {
  backdrop-filter: blur(5px);
  color: #fff;
}

/* Media Queries for Responsiveness */

/* For devices with a screen width of up to 768px (tablets and smaller screens) */
@media (max-width: 768px) {
  .card {
    width: 300px;
    height: 300px;
  }

  .card-content h2 {
    font-size: 1.3rem;
  }

  .card-container{
    height: 30vh;
  }
}

/* For devices with a screen width of up to 576px (mobile phones) */
@media (max-width: 576px) {
  .card {
    width: 260px;
    height: 260px;
  }

  .card-content h2 {
    font-size: 1.2rem;
  }

  .card-gif {
    height: 160px;
  }
  .card-container{
    height: 30vh;
  }
}

/* For devices with a screen width of up to 400px (small mobile phones) */
@media (max-width: 400px) {
  .card {
    width: 230px;
    height: 230px;
  }

  .card-content h2 {
    font-size: 1.1rem;
  }

  .card-gif {
    height: 140px;
  }
  .card-container{
    height: 35vh;
  }
}
